/* CSS standard */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Base */ 

body {
    background-color:aquamarine;
}   




/* Utilities */

.container {
    max-width: 1080px;
    height: 800px;
    background-color: white;
    margin: auto;
}

.separator {
    height:3px;
    background-color: aquamarine;
}



/* Logo */ 

#logo {
    height: 100px;
    background-color:white;
    margin: 0 50px 20px;
}

h1 {
    display: inline;
    line-height: 100px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

#logo > img {
    vertical-align: middle;
}



/* buttons */ 

.site-head {
    margin: 0 30px;
    line-height: 60px;
}

header > input {
    height:30px;
    width: 80px;
}

.add-task{
    background-color: rgb(8, 113, 184);
    color:white;
    border: none;

}

.add-section {
    color: gray;
}


/* Main */ 

h2 {
    font-size: 35px;
}

main {
    margin: 40px;
}

ul {
    list-style: none;
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 25px;
    
}

li {
    padding-bottom: 15px;
}

/* symbols */ 

.symbol {
    display: inline-block;
    height: 25px;
    width: 25px;
    margin-right: 5px;
    border-radius: 50%;
    border: 2px solid
}

.checkmark {
    color:green;
    border-color: green;

}

.cross {
    color: rgb(128, 54, 54);
    border-color: rgb(128, 54, 54);
}

.arrow {
    font-size: 15px;
    vertical-align: middle;
}

/* Tags */

.tag {
    display: inline-block;
    width: 80px;
    height: 35px;
    color:white;
    margin-left: 10px;
    border-radius: 45%;
    text-align: center;
    font-size: 15px;
    vertical-align: middle;
    line-height: 35px;
}

.editorial {
    background-color: rgb(8, 113, 184); 
}

.q1-goals {
    background-color: rgb(121, 59, 121);
}

.recruiting {
    background-color: rgb(76, 180, 131);
}