/* CSS standard */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Base */ 

body {
    background-color:aquamarine;
}   


/* Utilities */

.container {
    max-width: 1080px;
    height: 800px;
    background-color: white;
    margin: auto;
}

.separator {
    height:3px;
    background-color: aquamarine;
}


/* Logo */ 

#logo {
    height: 100px;
    background-color:white;
    margin: 0 50px 20px;
}

h1 {
    display: inline;
    line-height: 100px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

#logo > img {
    vertical-align: middle;
}

/* buttons */ 

.site-head {
    margin: 0 30px;
    line-height: 60px;
}

header > input {
    height:30px;
    width: 80px;
}

.add-task{
    background-color: rgb(8, 113, 184);
    color:white;
    border: none;

}

.add-section {
    color: gray;
}